$theme: (
  themeColor: #a31f08,
  primaryDark: #fcdcd4,
  accentDark: #404040,
  lightGray: #f2f2f2,
  texts: #333333,
  backgroundLight: #ffea90,
  accentLight: #ffa5db,
  headerBackground: #c31f09
);
